Hi {{recipient.first_name }} {{recipient.last_name}},

Your upcoming office hour session at {{office_hour.start_date_time |date:"h:m"}} on
{{office_hour.start_date_time |date}} with {{mentor_name}} was cancelled by
{{ cancelling_party.first_name }} {{cancelling_party.last_name}}.
To schedule a new time with this or any available mentor, visit
https://accelerate.masschallenge.org/newofficehours


{% if custom_message %}
  Note from {{ cancelling_party.first_name }} {{cancelling_party.last_name}}:
  {{ custom_message }}
{% endif %}


Thanks,
The MassChallenge Team
