{% load static from staticfiles %}
<html>
<head>

</head>
<body>
<p>Hi {{ recipient.first_name }},</p>

<p>
  Your office hour session at {{ start_time }} on {{ date }} ({{ timezone }})
  is reserved for {{ counterpart.full_name }}
  {% if startup %} of {{ startup }} {% endif %}
</p>

<strong>Add a reminder</strong>
<ul>
  <li>
    <a target="_blank" class="google" href="{{calendar_data.gcal_link}}">
      Google Calendar
    </a>
  </li>
  <li>
    <a target="_blank" class="yahoo" href="{{calendar_data.yahoo_link}}">
      Yahoo
    </a>
  </li>
  <li>
    <a target="_blank" class="outlook" href="{{calendar_data.outlook_link}}">
      Outlook
    </a>
  </li>
</ul>

{% if message %}
<p>{{ message }}</p>
{% endif %}


<p>
  To view and manage your office hour reservations, visit
  https://accelerate.masschallenge.org/newofficehours
</p>


<p>
  Thanks,<br/>
  The MassChallenge Team
</p>
</body>
</html>