{% extends "rest_framework/base.html" %}
{% load rest_framework %}
{% load staticfiles %}
{% block bootstrap_theme %}
  <link
    rel="stylesheet"
    href="http://bootswatch.com/flatly/bootstrap.min.css"
    type="text/css" />
    <link
      rel="stylesheet"
      href="{% static 'css/build/style.min.css' %}"
      type="text/css" />
    {% endblock %}
    {% block navbar %}
      <div class="navbar navbar-static-top">
        <div class="container">    
          <a class="navbar-brand" rel="nofollow" href="/">
            <h3 class="logo-container">
            <img src="{% static 'img/logo.png' %}"
            class="logo"
            width="50"
            />Impact
            </h3>
          </a>
          
          <ul class="nav navbar-nav">
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a  class="nav-link button navbar-btn" href="{% url 'admin:index' %}">
                  Admin
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              {% if request.user.oauth2_provider_application.count == 0 %}
                <a  class="nav-link button navbar-btn" href="{% url 'oauth2_provider:list' %}">
                  create an application
                </a>
              {% else %}
                <a href="{% url 'oauth2_provider:list' %}" class="nav-link button">
                  view your applications
                </a>
              {% endif %}
            </li>
          </ul>
          <ul class="nav dropdown-nav navbar-nav pull-right">
            {% block userlinks %}
              {% if user.is_authenticated %}
                <li>{{user.email}}</li>
                <li>
                  <a href="{% url 'auth_logout' %}">
                    logout
                  </a>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'auth_login' %}">
                    login
                  </a>
                </li>
              {% endif %}
            {% endblock %}
          </ul>
        </div>
      </div>
    {% endblock %}