/* line 11, ../../sass/style.scss */
body:before {
  content: "XS";
  color: red;
}

@media (min-width: 768px) {
  /* line 16, ../../sass/style.scss */
  body:before {
    content: "SM 768+px";
    color: red;
  }
}
@media (min-width: 992px) {
  /* line 22, ../../sass/style.scss */
  body:before {
    content: "MD 992+px";
    color: red;
  }
}
@media (min-width: 1200px) {
  /* line 28, ../../sass/style.scss */
  body:before {
    content: "LG 1200+px";
    color: red;
  }
}
/* line 44, ../../sass/style.scss */
body.container .container-fluid {
  margin-top: 30px;
}
/* line 46, ../../sass/style.scss */
body.container .container-fluid .branding-well {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* line 53, ../../sass/style.scss */
.logo-container {
  margin: 0 0 20px;
}
/* line 55, ../../sass/style.scss */
.logo-container .logo {
  margin-right: 10px;
}

/* line 59, ../../sass/style.scss */
#main-content {
  margin-top: 50px;
}

/* line 62, ../../sass/style.scss */
.register-redirect {
  color: #666;
  font-size: 0.85em;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}

/* line 69, ../../sass/style.scss */
.helptext {
  font-size: 10px;
  color: #333;
  display: none;
}

/* line 74, ../../sass/style.scss */
.button {
  display: inline-block;
  background-color: #0EABBC;
  color: white !important;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
}
/* line 81, ../../sass/style.scss */
.button:hover {
  background-color: #0a7d89;
  color: white;
}
/* line 85, ../../sass/style.scss */
.button:active {
  background-color: #0a7d89;
  color: white;
}

/* line 90, ../../sass/style.scss */
.button.green {
  background-color: #00718F;
}
/* line 92, ../../sass/style.scss */
.button.green:hover {
  background-color: #00495c;
}
/* line 95, ../../sass/style.scss */
.button.green:active {
  background-color: #00495c;
}

/* line 99, ../../sass/style.scss */
.button.gray {
  background-color: #b4b4b4;
}
/* line 101, ../../sass/style.scss */
.button.gray:hover {
  background-color: #898989;
}
/* line 104, ../../sass/style.scss */
.button.gray:active {
  background-color: #646464;
}

/* line 108, ../../sass/style.scss */
.btn {
  border-radius: 0;
}

/* line 114, ../../sass/style.scss */
.nav li .button:hover {
  background-color: #0a7d89;
  color: white;
}
/* line 118, ../../sass/style.scss */
.nav li .button:active {
  background-color: #0a7d89;
  color: white;
}
