[mysqldump]
quote-names
max_allowed_packet = 1024M

[mysqld_safe]
max_allowed_packet = 1024M

[mysqld]
default_storage_engine = InnoDB
init-connect = "SET NAMES utf8mb4"
character_set_server = utf8mb4
collation_server = utf8_unicode_ci
character-set-client-handshake = FALSE
block_encryption_mode = "aes-256-cbc"
character-set-server = "utf8mb4"
collation-server = "utf8mb4_unicode_ci"
server-id = 1
log_bin = /var/log/mysql/masschallenge
general_log_file = /var/lib/mysql/masschallenge.log
autocommit = 1
max_allowed_packet = 1G
wait_timeout = 2000
skip-external-locking
bind-address=0.0.0.0
sql_mode=NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

