[client]
max_allowed_packet = 1024M
default-character-set = utf8mb4

[mysqldump]
quote-names
max_allowed_packet = 1024M

[mysqld_safe]
max_allowed_packet = 1024M

[mysqld]
default_storage_engine = InnoDB
init-connect = "SET NAMES utf8mb4"
character_set_server = utf8mb4
collation_server = utf8_unicode_ci
character-set-client-handshake = FALSE
block_encryption_mode = "aes-256-cbc"
character-set-server = "utf8mb4"
collation-server = "utf8mb4_unicode_ci"
autocommit = 1
max_allowed_packet = 1G
wait_timeout = 2000